<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pollster Application</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
</head>

<body>
    {% include "partials/_navbar.html" %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                {% block content %}
                
                {% endblock %} 
            </div>
        </div>
</body>

</html>