{% extends "base.html" %}

{% block content %}
    <h1 class="display-4 my-5">Polls Questions!</h1>

    {% if latest_question_list %}
        {% for question in latest_question_list %}
            <div class="card mb-3">
                <div class="card-body">
                    <p class="lead"><b>{{question.question_text}}</b></p>
                    <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary btn-sm">VOTE NOW</a>
                    <a href="{% url 'polls:result' question.id %}" class="btn btn-primary btn-sm">RESULTS</a>
                </div>
            </div>
        {% endfor %}

    {% else %}
        <h3 class="text-muted">No Questions Found </h3>
    {% endif %}
    
{% endblock %}